.chart-container {
    display: flex;
    aspect-ratio: 16 / 9;
    justify-content: center;
    font-size: 0.75rem;
    /* text-xs */
}

.chart-container .recharts-cartesian-axis-tick text {
    fill: var(--muted-foreground);
}

.chart-container .recharts-cartesian-grid line[stroke='#ccc'] {
    stroke: var(--border);
    opacity: 0.5;
}

.chart-container .recharts-curve.recharts-tooltip-cursor {
    stroke: var(--border);
}

.chart-container .recharts-polar-grid [stroke='#ccc'] {
    stroke: var(--border);
}

.chart-container .recharts-radial-bar-background-sector {
    fill: var(--muted);
}

.chart-container .recharts-rectangle.recharts-tooltip-cursor {
    fill: var(--muted);
}

.chart-container .recharts-reference-line [stroke='#ccc'] {
    stroke: var(--border);
}

.chart-container .recharts-dot[stroke='#fff'] {
    stroke: transparent;
}

.chart-container .recharts-layer {
    outline: none;
}

.chart-container .recharts-sector {
    outline: none;
}

.chart-container .recharts-sector[stroke='#fff'] {
    stroke: transparent;
}

.chart-container .recharts-surface {
    outline: none;
}

/* Tooltip */
.chart-tooltip {
    display: grid;
    min-width: 8rem;
    align-items: start;
    gap: 0.375rem;
    /* gap-1.5 */
    border-radius: 0.5rem;
    /* rounded-lg */
    border: 1px solid var(--border);
    background-color: var(--background);
    padding: 0.375rem 0.625rem;
    /* px-2.5 py-1.5 */
    font-size: 0.75rem;
    /* text-xs */
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
    /* shadow-xl */
}

.chart-tooltip-grid {
    display: grid;
    gap: 0.375rem;
    /* gap-1.5 */
}

/* Tooltip Item */
.chart-tooltip-item {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    align-items: stretch;
    gap: 0.5rem;
    /* gap-2 */
}

.chart-tooltip-item svg {
    width: 0.625rem;
    /* w-2.5 */
    height: 0.625rem;
    /* h-2.5 */
    color: var(--muted-foreground);
}

.chart-tooltip-indicator {
    flex-shrink: 0;
    border-radius: 2px;
    background-color: var(--color-bg);
    border-color: var(--color-border);
}

.chart-tooltip-indicator.dot {
    height: 0.625rem;
    width: 0.625rem;
}

.chart-tooltip-indicator.line {
    width: 0.25rem;
    /* w-1 */
}

.chart-tooltip-indicator.dashed {
    width: 0;
    border-width: 1.5px;
    border-style: dashed;
    background-color: transparent;
}

/* Legend */
.chart-legend {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    /* gap-4 */
}

.chart-legend-item {
    display: flex;
    align-items: center;
    gap: 0.375rem;
    /* gap-1.5 */
}

.chart-legend-item svg {
    height: 0.75rem;
    /* h-3 */
    width: 0.75rem;
    /* w-3 */
    color: var(--muted-foreground);
}

.chart-legend-indicator {
    height: 0.5rem;
    /* h-2 */
    width: 0.5rem;
    /* w-2 */
    flex-shrink: 0;
    border-radius: 2px;
}