.label {
    font-size: 0.875rem;
    /* text-sm */
    font-weight: 500;
    /* font-medium */
    line-height: normal;
    user-select: none;
}

.label-disabled {
    cursor: not-allowed;
    opacity: 0.7;
}