.accordion-item {
    border-bottom: 1px solid var(--border);
}

.accordion-trigger {
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: space-between;
    padding-top: 1rem;
    /* py-4 */
    padding-bottom: 1rem;
    font-weight: 500;
    /* font-medium */
    transition-property: all;
    transition-duration: 200ms;
}

.accordion-trigger:hover {
    text-decoration: underline;
}

.accordion-trigger svg {
    height: 1rem;
    /* h-4 */
    width: 1rem;
    /* w-4 */
    flex-shrink: 0;
    transition-duration: 200ms;
}

.accordion-trigger[data-state="open"] svg {
    transform: rotate(180deg);
}

.accordion-content {
    overflow: hidden;
    font-size: 0.875rem;
    /* text-sm */
    transition-property: all;
    transition-duration: 200ms;
}

.accordion-content[data-state="closed"] {
    animation: collapse 0.2s ease-out;
}

.accordion-content[data-state="open"] {
    animation: expand 0.2s ease-out;
}

.accordion-content-inner {
    padding-bottom: 1rem;
    /* pb-4 */
    padding-top: 0;
}