.input {
    display: flex;
    height: 2.25rem;
    /* h-9 */
    width: 100%;
    border-radius: 0.375rem;
    /* rounded-md */
    border: 1px solid var(--input);
    background-color: transparent;
    padding-left: 0.75rem;
    /* px-3 */
    padding-right: 0.75rem;
    padding-top: 0.25rem;
    /* py-1 */
    padding-bottom: 0.25rem;
    font-size: 0.875rem;
    /* text-sm */
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
    /* shadow-sm */
    transition-property: colors;
    transition-duration: 150ms;
}

.input::file-selector-button {
    border: 0;
    background-color: transparent;
    font-size: 0.875rem;
    /* text-sm */
    font-weight: 500;
}

.input::placeholder {
    color: var(--muted-foreground);
}

.input:focus-visible {
    outline: none;
    box-shadow: 0 0 0 1px var(--ring);
}

.input:disabled {
    cursor: not-allowed;
    opacity: 0.5;
}