.progress {
    position: relative;
    height: 0.5rem;
    /* h-2 -> 8px? Usually h-4 is 1rem. h-2 is 0.5rem */
    width: 100%;
    overflow: hidden;
    border-radius: 9999px;
    /* rounded-full */
    background-color: var(--secondary);
}

.progress-indicator {
    height: 100%;
    width: 100%;
    flex: 1;
    background-color: var(--primary);
    transition: all 0.5s ease-in-out;
    /* transition-all */
}